@media print {

    #bandeaucookie-wrapper {
        display: none !important;
    }
}

#bandeaucookie-wrapper {
    display: none;
    position: relative;
    z-index: 1000;
    width: 100%;
    padding: 4px;
    font-size: 14px;
    color: #000000;
    border-bottom: 1px solid #d2d2d2;
    background: #d9d9d9; /* Old browsers */
    background: -moz-linear-gradient(top,  #d9d9d9 0%, #e2e2e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #d9d9d9 0%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #d9d9d9 0%,#e2e2e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #d9d9d9 0%,#e2e2e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #d9d9d9 0%,#e2e2e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */
}

#bandeaucookie {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

#bandeaucookie a {
    display : inline-block;
    position : relative;
    top : -1px;
    right : 0;
    color : #555;
    font-size : 11px;
    text-decoration : underline;
    text-decoration : none;
    line-height : 1em;
}

#bandeaucookie #bandeauClose {
    padding: 5px 7px;
    font-weight: bold;
    font-size: 14px;
    background: #3B3B3B;
    color : #fff;
}

@media only screen and (max-width: 767px) {
    #bandeaucookie a#bandeauClose {
        display: block;
        margin: 5px 0;
    }
}