@media print {

    #bandeaucookie-wrapper {
        display: none !important;
    }
}

#bandeaucookie-wrapper {
    display: none;
    position   : relative;
    width      : 100%;
    z-index    : 1000;
    padding    : 4px;
    background : #F9AF32;
    color      : #03357A;
    font-size  : 14px;
}

#bandeaucookie {
    width      : 100%;
    text-align : center;
    margin     : 0 auto;
    position   : relative;
}

#bandeaucookie a {
    display         : inline-block;
    position        : relative;
    top             : -1px;
    right           : 0;
    font-size       : 11px;
    color           : #ffffff;
    text-decoration : underline;
    text-decoration : none;
    line-height     : 1em;
}

#bandeaucookie a#bandeauClose {
    background  : #03357A;
    padding     : 5px;
    font-weight : bold;
    font-size   : 14px;
}
